# Default ignored files
.idea/
/out
src/main/java/cn/com/meguru/leetcode/editor/cn/all.json
src/main/java/cn/com/meguru/leetcode/editor/cn/translation.json
src/main/java/cn/com/meguru/leetcode/editor/cn/doc
leet-code-solution.iml